
body {
  margin: 0;
  text-align: center;
  background-color: #23252C;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
}

.container {
  max-width: 500px;
  background-color: #1A1B21;
  border-radius: 20px;
  margin: 40px auto;
}

.info-img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.name {
  font-size: 3em;
  margin: 20px 0 0 0;
  color: #F5F5F5;
  font-weight: bold;
}

.role {
  font-weight: 300;
  color: #F3BF99;
  margin: 0px;
}

.info-website {
  font-weight: lighter;
  color: #F5F5F5;
  margin: 10px;
}

.info-bnt-container {
  display: flex;
  justify-content: center;
  margin: 25px 0px ;
}

.bnt {
  border-radius: 5px;
  text-decoration: none;
  margin: 0px 10px;
  font-weight: 500;
  padding: .7em 0em;
  width: 38%;
}

.info-email {
  background-color: #FFFFFF;
  color: #374151;
}

.info-linkedin {
  background-color: #5093E2;
  color: #FFFFFF;
}

.info-icon {
  font-size: 1.1em;
  padding-right: .5em;
} 

.interests-section h2, .about-section h2 {
  margin-bottom: 0px;
}

.title-color {
  color: #F5F5F5;
}

.paragraph-color {
  color: #DCDCDC;
}


.main-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 40px 50px;
}

footer {
  background-color: #161619;
  padding: 2em;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.icon {
  font-size: 1.8em;
  padding: .2em;
  background-color: #918E9B;
  border-radius: 5px;
  margin: 0 10px;
}